{% extends "base.html" %}

{% block content %}
    <h1>Players Details Page</h1>
    <p>This page shows player details for player {{ player_id }}...</p>
    <a href="{% url 'players' %}">All Players</a>

    <h2>{{ player_data.full_name }}</h2>
    <p>from {{ player_data.home_city }}, {{ player_data.home_country }}</p>

    <h2>Current Team</h2>
    <table>
        <tr>
            <th>Team name</th>
            <th>Position</th>
            <th>Number</th>
            <th>Date joined</th>
        </tr>
        {% for membership in current_teams %}
        <tr>
            <td><a href="{% url 'team' membership.team.id %}">{{ membership.team.team_name }}</a></td>
            <td>{{ membership.position }}</td>
            <td>{{ membership.number }}</td>
            <td>{{ membership.date_joined }}</td>
        </tr>
        {% endfor %}
    </table>


    <h2>Previous Teams</h2>
    <table>
        <tr>
            <th>Team name</th>
            <th>Position</th>
            <th>Number</th>
            <th>Date joined</th>
            <th>Date released</th>
        </tr>
        {% for membership in previous_teams %}
        <tr>
            <td><a href="{% url 'team' membership.team.id %}">{{ membership.team.team_name }}</a></td>
            <td>{{ membership.position }}</td>
            <td>{{ membership.number }}</td>
            <td>{{ membership.date_joined }}</td>
            <td>{{ membership.date_released }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock content %}
