{% extends "base.html" %}

{% block content %}
    <h1>Teams Overview Page</h1>
    <p>This page lists the teams...</p>

    <table>
        <tr>
            <th>Team Name</th>
            <th>City</th>
            <th>Home Page</th>
        </tr>
    {% for team in teams_list %}
        <tr>
            <td><a href="{% url 'team' team.id %}">{{ team.team_name }}</a></td>
            <td>{{ team.home_city }}</td>
            <td><a href="{{ team.home_page }}">Home Page</a></td>
        </tr>
    {% endfor %}
    </table>

{% endblock content %}
