{% extends "base.html" %}

{% block content %}
    <h1>Team Details Page</h1>
    <p>This page shows team details for team {{ team_id }}...</p>
    <a href="{% url 'teams' %}">All Teams</a>

    <h2>{{ team_data.team_name }}</h2>
    <a href="{{ team_data.home_page }}">Home Page</a>
    <p>Description ...</p>

    <h2>Current Roster</h2>
    {% if current_members %}
    <table>
        <tr>
            <th>Name</th>
            <th>Position</th>
            <th>Number</th>
            <th>Date joined</th>
        </tr>
        {% for membership in current_members %}
        <tr>
            <td><a href="{% url 'player' membership.player.id %}">{{ membership.player.full_name }}</a></td>
            <td>{{ membership.position }}</td>
            <td>{{ membership.number }}</td>
            <td>{{ membership.date_joined }}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p>No current players.</p>
    {% endif %}

    <h2>Previous Players</h2>
    {% if previous_members %}
    <table>
        <tr>
            <th>Name</th>
            <th>Position</th>
            <th>Number</th>
            <th>Date released</th>
        </tr>
        {% for membership in previous_members %}
        <tr>
            <td><a href="{% url 'player' membership.player.id %}">{{ membership.player.full_name }}</a></td>
            <td>{{ membership.position }}</td>
            <td>{{ membership.number }}</td>
            <td>{{ membership.date_left }}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p>No previous players.</p>
    {% endif %}
{% endblock content %}
