<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="navigation">
        <nav>
            <a href="/">Home</a>
            <a href="#">Matches</a>
            <a href="{% url 'teams' %}">Teams</a>
            <a href="{% url 'players' %}">Players</a>
            <a href="{% url 'admin:index' %}">Admin</a>
        </nav>
    </div>
    <div class="content">
        {% block content %}
        <h1>Content</h1>
        <p>Lorem ipsum ...</p>
        {% endblock content %}
    </div>
</body>
</html>